<mat-toolbar color="primary" class="docs-navbar-header">
    <span>Endpoint Information</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="addEndpoint()" *ngIf = "!not_admin">Add Endpoint</button>
    <button mat-button (click)="updateEndpointCondition()" *ngIf = "!not_admin">Mark Endpoint Bad</button>
    <button mat-button (click)="deleteEndpoint()" *ngIf = "!not_admin" matTooltip="Delete Endpoint"><span class="material-icons">
    
      delete
      </span></button>
    <button mat-button (click)="logout()">Log Out</button>
  </mat-toolbar>
<div>

<div class="example-container">
    <mat-card class = "header-card"> <h1 class="mat-display-1">QA Master</h1></mat-card>
    <br />
    <div
      cdkDropList
      #qaMasterList="cdkDropList"
      [cdkDropListData]="masterEndpoints"
      [cdkDropListConnectedTo]="[qaItList]"
      class="example-list"
      (cdkDropListDropped)="drop($event, 'qaMaster')">
      <div class="example-box" *ngFor="let endpoint of masterEndpoints" [ngStyle]="getBackgroundColor(endpoint.bad, endpoint.is_occupied)" cdkDrag>
        <div *ngIf="endpoint.bad; else elseBlock1">
          <span class="hand_cursor" matTooltip="Endpoint is bad" matTooltipPosition="right">
            <a class="endpoint-opers" mat-button (click)="markEndpointGood(endpoint.endpoint_name, endpoint.endpoint_id)">{{endpoint.endpoint_name}}</a>
          </span>
        </div>
        <ng-template #elseBlock1>
        <div *ngIf="!endpoint.is_occupied; else elseBlock2"><span class="hand_cursor" matTooltip="Endpoint is free" matTooltipPosition="right">
          <a class="endpoint-opers" mat-button (click)="useEndpoint(endpoint.endpoint_name, endpoint.endpoint_id, endpoint.environment)">{{endpoint.endpoint_name}}</a></span></div>
          <ng-template #elseBlock2 ><span class="hand_cursor">
            <a class="endpoint-opers" mat-button matTooltip="Endpoint is occupied" matTooltipPosition="right" (click)="releaseEndpoint(endpoint.endpoint_name, endpoint.endpoint_id, endpoint.occupied_by)">{{endpoint.endpoint_name}}</a>
            <br />
            <span>User: <b><i>{{endpoint.occupied_by}}</i></b> </span>
            <br />
            <span>Used For: {{endpoint.occupied_for}}</span>
          </span>
          </ng-template>
        </ng-template>
        <img src="assets\images\controller.png" width="55"
              height="70">
    </div>
    </div>
  </div>

  <div class="example-container">
    <mat-card class = "header-card"> <h1 class="mat-display-1">QA It</h1></mat-card>
    <br />  
    <div
      cdkDropList
      #qaItList="cdkDropList"
      [cdkDropListData]="itEndpoints"
      [cdkDropListConnectedTo]="[qaMasterList]"
      class="example-list"
      (cdkDropListDropped)="drop($event, 'qaIt')">
      <div class="example-box" *ngFor="let endpoint of itEndpoints" [ngStyle]="getBackgroundColor(endpoint.bad,endpoint.is_occupied)" cdkDrag>
        <div *ngIf="endpoint.bad; else elseBlock1">
          <span class="hand_cursor" matTooltip="Endpoint is bad" matTooltipPosition="right">
            <a class="endpoint-opers" mat-button (click)="markEndpointGood(endpoint.endpoint_name, endpoint.endpoint_id)">{{endpoint.endpoint_name}}</a>
          </span>
        </div>
        <ng-template #elseBlock1>
        <div *ngIf="!endpoint.is_occupied; else elseBlock"><span class="hand_cursor" matTooltip="Endpoint is free" matTooltipPosition="right">
          <a class="endpoint-opers" mat-button (click)="useEndpoint(endpoint.endpoint_name, endpoint.endpoint_id, endpoint.environment)">{{endpoint.endpoint_name}}</a></span></div>
          <ng-template #elseBlock><span class="hand_cursor">
            <a class="endpoint-opers" mat-button matTooltip="Endpoint is occupied" matTooltipPosition="right" (click)="releaseEndpoint(endpoint.endpoint_name, endpoint.endpoint_id, endpoint.occupied_by)">{{endpoint.endpoint_name}}</a>
            <br />
            <span>User: <b><i>{{endpoint.occupied_by}}</i></b> </span>
            <br />
            <span>Used For: {{endpoint.occupied_for}}</span>
          </span>
          </ng-template>
        </ng-template>
        <img src="assets\images\controller.png" width="55"
              height="70">
           </div>
  </div>
</div>