body {
    background-image: url('~/assets/images/login_register_wallpaper.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
  }