body {
    background-image: url("C:\Users\Rahul pareek\Downloads\Angular\endpoint_info_ui\endpoint-info-ui\src\assets\images\login_register_wallpaper.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
  }